<table class="table">
    <tbody>
        <tr *ngFor="let receta of recetas; let i = index" [attr.data-index]="i" [attr.data-id]="receta.id">
            <td>
                <div class="row previewReceta removeBIG widthFix">
                    <div class="col-3">
                        <a [routerLink]="['../Recipe']"><img class="imagenEnBusqueda rounded mx-auto d-block"
                                src="../../assets/{{receta.imagen}}" alt="receta"></a>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-9 titulo-busqueda">{{receta.nombre}}</div>
                            <div class="col-1">
                                <img class="banderas pull-right rounded" src="../../assets/mexico.png" alt="bandera">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 subtitulo-busqueda">Por: {{receta.autor}}</div>
                        </div>
                        <div class="row">
                            <div class="col-12 descripcion-busqueda">{{receta.descripcion}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row previewReceta removeSmall widthFix">
                    <div class="row">
                        <div class="col-12">
                            <img class="imagenEnBusqueda rounded" src="../../assets/{{receta.imagen}}" alt="receta">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9 titulo-busqueda"><a [routerLink]="['../Recipe']">{{receta.nombre}}</a></div>
                        <div class="col-3">
                            <img class="banderas pull-right rounded" src="../../assets/mexico.png" alt="bandera">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 subtitulo-busqueda">Por: {{receta.autor}}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 descripcion-busqueda">{{receta.descripcion}}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>



