<div class="sign_in_wapper">
        
        <div class="row">
            <h3>Sign Up</h3>
            <input type="text" id="name" placeholder="Tu Nombre">
        </div>
        <div class="row">
            <input type="text" id="user" placeholder="Nombre de Usuario">
        </div>
        <div class="row">
            <input type="text" id="email" placeholder="Email">
        </div>
        <div class="row">
            <input type="text" id="county" placeholder="Pais">
        </div>
        <div class="row">
            <input type="text" id="city" placeholder="Ciudad">
        </div>

        <div class="row">
            <input type="password" id="password" placeholder="Contrasena">
        </div>
        <div class="row">
            <input type="password" id="confirmPassword" placeholder="Confirma contrasena">
        </div>
        <div class="row">
            <a [routerLink]="['../HomePage']" ><button class="btn btn-success" >GO!!</button></a>
        </div>

        <div class="row" style="text-align: center">
            <p>
                <br>
                Ya tienes cuenta?
                <a [routerLink]="['../LogIn']">ENTRA!!</a>
            </p>
        </div>

    </div>