<form #formulario="ngForm" (ngSubmit)="enviarFormulario(formulario.value)">

        <div class="form-group letras">
            <label for="texto">Receta Nueva</label>
            <input type="text" class="form-control" id="texto" placeholder="Enchiladas" name="texto"
                [(ngModel)]="recipe.nombre">
        </div>
    
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Armando" name="nombre"
                [(ngModel)]="recipe.nombre">
        </div>
    
        <div class="form-group">
            <label for="aPaterno">Apellido Paterno</label>
            <input type="text" class="form-control" id="aPaterno" placeholder="Hernandez" name="aPaterno"
                [(ngModel)]="recipe.nombre">
        </div>
    
        <div class="form-group">
            <label for="aMaterno">Apellido Materno</label>
            <input type="text" class="form-control" id="aMaterno" placeholder="Vargas" name="aMaterno"
                [(ngModel)]="recipe.nombre">
        </div>
        
        <button type="submit" class="btn btn-success" (click)="enviarFormulario();">Enviar</button>
    </form>