$map-width: 300px;
$map-height: 400px;
.row {
    margin: 15px 14%;
}
.title{
    text-align: center;
    margin: 0px 45%;
}

.wrapper {
    margin-top: 1rem;
}
.col-9 {
    padding: 0px;
}
.ytVideo{
    margin: 20px 31%;
}
.mobile {
    display: none;
}
.imgDish {
    size: 800px;
    margin: 0px 0%;
}
p {
    text-align: center;
}
.imgAuthor {
    width: 265px;
}

.mapouter {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: $map-height;
    width: $map-width;
}

.mapouter {
    display: block;
    margin: 25px auto;
    text-align: center;
    height: $map-height;
    width: $map-width;
}


@media only screen and (min-width: 0px) and (max-width: 900px){
    .imgAuthor {
        width: 370px;
    }
    .wrapper {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .imgDish {
        width: 370px;
        margin: 0px -4%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: unset;
    }
    .ytVideo{
        margin: 5px 20%;
    }
    .mapouter {
        margin: 25px 20%;
    }
    .row {
        margin: 15px 3%;
    }

}