<div class="row previewReceta removeBIG widthFix">
    <div class="col-3">
        <a [routerLink]="['Recipe']"><img class="imagenEnBusqueda rounded mx-auto d-block"
                src="../../assets/enchilada.jpg" alt="receta"></a>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-9 titulo-busqueda">Enchiladas verdes</div>
            <div class="col-1">
                <img class="banderas pull-right rounded" src="../../assets/mexico.png" alt="bandera">
            </div>
        </div>
        <div class="row">
            <div class="col-10 subtitulo-busqueda">Por: Maria Perez</div>
        </div>
        <div class="row">
            <div class="col-12 descripcion-busqueda">Las enchiladas verdes son un platillo que consta de
                tortillas rellenas de pollo
                bañadas en salsa verde y queso gratinado.
            </div>
        </div>
    </div>
</div>

<div class="row previewReceta removeSmall widthFix">
    <div class="row">
        <div class="col-12">
            <img class="imagenEnBusqueda rounded" src="../../assets/enchilada.jpg" alt="receta">
        </div>
    </div>
    <div class="row">
        <div class="col-9 titulo-busqueda"><a [routerLink]="['Recipe']">Enchiladas verdes</a></div>
        <div class="col-3">
            <img class="banderas pull-right rounded" src="../../assets/mexico.png" alt="bandera">
        </div>
    </div>
    <div class="row">
        <div class="col-12 subtitulo-busqueda">Por: Maria Perez</div>
    </div>
    <div class="row">
        <div class="col-12 descripcion-busqueda">Las enchiladas verdes son un platillo que consta de
            tortillas rellenas de pollo
            bañadas en salsa verde y queso gratinado.
        </div>
    </div>
</div>