<form #formulario="ngForm" class="log_in_wapper">
    <div class="row">
        <div style="display: block; margin: 0 auto; font-size: 30px;">
            Log In
        </div>
    </div>
    <div class="form-group row">
        <input type="text" class="form-control" id="userTextBox" placeholder="Mail" name="mail" [(ngModel)]="mail">
    </div>

    <div class="form-group row">
        <input type="password" class="form-control" id="passwordTextBox" placeholder="Contrasena" name="password" [(ngModel)]="password">
    </div>

    <div class="row">
        <a (click)="searchUserRequest()" [routerLink]="['../HomePage']" ><button class="btn btn-success">GO!!</button></a>
        
    </div>

    <div class="row" style="text-align: center">
        <p>
            <br>
            No tienes cuenta?
            <a [routerLink]="['../SignIn']">UNETE!!</a>
        </p>
    </div>
    
</form>