<div class="log_in_wapper">

    <div class="row">
        <h3> Log In</h3>
    </div>
    <div class="row">
        <input type="text" id="userTextBox" placeholder="User Name">
    </div>
    <div class="row">
        <input type="password" id="passwordTextBox" placeholder="Password">
    </div>
    <div class="row">
        <a [routerLink]="['../HomePage']" ><button class="btn btn-success" >GO!!</button></a>
        
    </div>

    <div class="row" style="text-align: center">
        <p>
            <br>
            No tienes cuenta?
            <a [routerLink]="['../SignIn']">UNETE!!</a>
        </p>
    </div>

</div>