.wrapper {
    margin-top: 1rem;
}
.row {
    margin: 10px 30%;
}
img {
    border: 0px;
}
@media only screen and (min-width: 0px) and (max-width: 767px){
    .wrapper {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .row {
        margin: 10px 0px;
    }
    img {
        width: 370px;
    }
    .col-3 {
        all:unset;
    }
}